canvas {
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
width: 800px;
}            
            
p {
text-align:center;
font-family:'Calibri';
font-size: larger;
font-style: oblique;
font-weight: bold;
}

h1{
text-align:center;
font-family:'Calibri';
font-size: xx-large;
font-style: oblique;
font-weight: bold
}
